.compute {
    .num {
        width: .4rem;
    }
    div {
        float: left;
        border: 1px solid #ededed;
        text-align: center;
        width: .2rem;
        height: .2rem;
        line-height: .2rem;
        font-weight: bold;
    }
}