.cou {
    border: 1px solid #e0e0e0;
    margin: .1rem 0;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    .couPrice {
        width: 1rem;
        background: #7999f3;
        color: white;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .ic {
        background: #7999f3;
        color: white;
        padding: 1px 3px;
        border-radius: 5px;
    }
    .couTitle {
        margin-left: 10px;
        font-size: 14px;
    }
    .price {
        font-size: .28rem;
        color: white;
        font-family: JDZH-Bold;
    }
}