.selectMenu {
    display: flex;
    border-bottom: 1px solid #ededed;
    .selected {
        font-weight: bold;
        color: #f35353 !important;
        border-bottom: 1px solid #f35353;
    }
}

.selectMenu > li , .selectMenu > a {
    flex: 1;
    height: .4rem;
    text-align: center;
    line-height: .4rem;
    
}

.selectMenuChi {
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
}

.selectMenuChi > li {
    width: 100%;
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
}

